PORT=4000
FRONTEND_URL=http://localhost:3000
MONGODB_URI=
NEURO_HOST=
NEURO_REFERER=
NEURO_APPRAISER_USERNAME=
NEURO_APPRAISER_PASSWORD=
NEURO_APPRAISER_LEGAL_ID=
NEURO_APPRAISER_KEY_ID=
NEURO_APPRAISER_KEY_PASSWORD=
NEURO_APPRAISER_KEY_LOCAL_NAME=
NEURO_APPRAISER_KEY_NAMESPACE=
NEURO_BORROWER_USERNAME=
NEURO_BORROWER_PASSWORD=
NEURO_BORROWER_LEGAL_ID=
NEURO_BORROWER_KEY_ID=
NEURO_BORROWER_KEY_PASSWORD=
NEURO_BORROWER_KEY_LOCAL_NAME=
NEURO_BORROWER_KEY_NAMESPACE=
